<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.xappo.myrxjava"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".retrofit2.Retrofit2Activity"
            android:label="@string/title_activity_retrofit2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".layout_behavior.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".rxjava.RxJavaEntryPointActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_rx_java_entry_point"/>
        <activity android:name=".rxjava.RxJavaReceiveActivity"
                  android:parentActivityName=".rxjava.RxJavaEntryPointActivity"
                  android:label="@string/title_activity_rx_java_receive"/>
        <activity android:name=".rxjava.RxJavaEmitSequentiallyActivity"
                  android:parentActivityName=".rxjava.RxJavaReceiveActivity"
                  android:label="@string/title_activity_rx_java_emit_sequentially"/>
    </application>

</manifest>